body {
  font-family: 'BentonSans', 'Press Start 2P', sans-serif;
  font-weight: 200;
}
h1 {
  margin-bottom: 20px;
  font-size: 3.6em;
  font-weight: 100;
  letter-spacing: -2px
}
h2 {
  font-size: 2.4em;
}
hr {
  border-style: none;
  height: 1px;
}

/* -- global styles -- */
.hidden {
  display: none;
}
.select {
  cursor: pointer;
  font-weight: 800;
  padding: 0px 20px;
  margin: 6px;
  line-height: 30px;
}
.select:hover,
.select:focus {}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px; /* 1/2 width */
  margin-top: -200px;
}

/* -- elements -- */

.menu {
  border: 1px dotted #030;
  bottom: 0;
  left: 0;
  line-height: 3em;
  padding: 24px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
  .menu li {
    display: inline;
  }

.game {
  position: absolute;
  top: 50%;
  left: 50%;
}
.controls {}
.scores span {
  padding: 2px 6px;
  font-weight: 800;
  line-height: 24px;
  margin-right: 20px;
}
.scores span + span {
  border-left: none;
}
.fps {
  font-size: 0.8em;
  float: right;
  width: 80px;
}

.finalscores {
  font-size: 160%;
  font-weight: 200;
}
.finalscores span {
  font-weight: 500;
  margin: 0 10px 0 10px;
}