body {
  background-color: #000;
  font-family: 'Press Start 2P', sans-serif;
}
h1 {
  margin-bottom: 20px;
}
hr {
  border-color: #030;
}

/* -- global styles -- */
.hidden {
  display: none;
}
.select {
  cursor: pointer;
  padding: 0px 20px;
  color: #0f0;
}
.select:hover,
.select:focus {
  outline: 1px dotted #050;
}
.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -225px; /* 1/2 width + padding */
  margin-top: -225px;
}

/* -- elements -- */

.menu {
  background-color: rgba(0,0,0,0.8);
  color: #0f0;
  text-align: center;
  line-height: 3em;
  padding: 24px;
  border: 1px dotted #030;
}
.game {
  position: absolute;
  top: 50%;
  left: 50%;
}
.controls {
  padding: 14px;
}
.score {
  color: #0ff;
}